// override variables here
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
@import "mixin-gradient";
$enable-rounded: true;
$primary: #39abb2;
$secondary: #3296c1;
$danger: #eb4f4f;
$primary-dark-text: #012c61;
$gd: linear-gradient(to right, #39abb2 0%, #39abb2 30%, #287ad7 86%, #287ad7 100%);

.gradient {
  @include linear-gradient(to right, #39abb2 0%, #39abb2 30%, #287ad7 86%, #287ad7 100%);
  &-text {
    @include linear-gradient(to right, #39abb2 0%, #39abb2 30%, #287ad7 86%, #287ad7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}
@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

html,
body {
  min-width: 1280px;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  background: #f7fbfe;
}
* {
  padding: 0;
  margin: 0;
  outline: none;
  box-shadow: none;
  box-sizing: border-box;
}
p {
  margin-bottom: 0;
}

.mdsync-container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-size: 18px !important;
}
.fas.big {
  font-size: 24px;
}
.m {
  &-20 {
    margin: 20px;
  }
  &l-20 {
    margin-left: 20px;
  }
  &r-20 {
    margin-right: 20px;
  }
  &t-20 {
    margin-top: 20px;
  }
  &x-20 {
    margin-left: 20px;
    margin-right: 20px;
  }
  &y-20 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.p {
  &-20 {
    padding: 20px;
  }
  &l-20 {
    padding-left: 20px;
  }
  &r-20 {
    padding-right: 20px;
  }
  &t-20 {
    padding-top: 20px;
  }
  &b-20 {
    padding-bottom: 20px;
  }
  &x-20 {
    padding-left: 20px;
    padding-right: 20px;
  }
  &y-20 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.text {
  &.f16 {
    font-size: 16px;
  }
  &.f18 {
    font-size: 18px;
  }
  &.f22 {
    font-size: 22px;
  }
  &.light {
  }
  &.black {
    font-weight: 700;
  }
  &.bold {
    font-weight: 400;
  }
  &-body {
    &-small {
      font-size: 12px;
      line-height: 20px;
    }
  }
}
.my-check {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 15px;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  span {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  p {
    font-size: 13px !important;
    line-height: 25px;
    // display: inline-block;
  }
  &:hover input ~ span {
    background-color: #ccc;
  }
  input:checked ~ span {
    background-color: #2196f3;
  }
  input:checked ~ span:after {
    display: block;
  }
}
.header {
  @extend .gradient;
  height: 70px;
  .d-flex {
    height: 70px;
  }

  .para {
    font-size: 15px;
    color: #ffffff;
    letter-spacing: -0.5px;
    text-align: center;
  }
  .nav {
    .divider {
      height: 20px;
      width: 1px;
      border-right: 1px solid #246367;
      margin: 0 16.5px;
    }
    a {
      color: white;
      text-decoration: underline;
      font-weight: bold;
      font-size: 16px;
    }
  }
}
.sub-header {
  height: 70px;
  background: #fff;
  > .d-flex {
    height: 70px;
  }
  .sub-nav-item {
    color: $primary-dark-text;
    font-size: 19px;
    font-weight: bold;
    .icon {
      margin-right: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &.active,
    &:hover {
      @extend .gradient-text;
      .icon path {
        fill: url(#mdsync-svg-gradient);
      }
    }
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
.mdsync {
  &.table {
    &.table-striped tbody tr:nth-of-type(odd) {
      background: #f5f9fc;
    }
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    background: white;
    th {
      border: none !important;
    }
    thead {
      background-attachment: fixed;
      @extend .gradient;
      &.slim td {
        height: 20px;
      }
      &.plain {
        background: #f7fbfe;
        th {
          color: $secondary;
        }
      }
    }
    .category td {
      background: #f5f9fc;
    }
    &.disabled {
      background: #e5e9ed;
      thead {
        background: #d7dce2 !important;
        th {
          color: black !important;
        }
      }
    }
    td {
      vertical-align: middle;
    }
    tbody.row-toggler {
      tr td {
        border-top: none !important;
        font-size: 18px;
        font-weight: bold;
      }
      td:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        text-align: center;
        color: white;
      }
      td:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
      td.toggler {
        @include linear-gradient(224deg, #39abb2 0%, #39abb2 30%, #287ad7 86%, #287ad7 100%);
      }
      tbody {
        padding: 0 !important;
        margin: 0 !important;
      }
      &:not(.collapsed) {
        span:first-child {
          display: inline;
        }
        span:last-child {
          display: none;
        }
      }
      &.collapsed {
        td.toggler {
          span:first-child {
            display: none;
          }
          span:last-child {
            display: inline;
          }
        }
      }
      .spacer {
        height: 20px;
        background: #f7fbfe;
      }
    }
    thead tr {
      th:first-child {
        border-top-left-radius: 4px !important;
      }
      th:last-child {
        border-top-right-radius: 4px !important;
      }
      th {
        color: white;
      }
    }
    .icon-blue {
      color: blue;
    }
    .icon-red {
      color: red;
    }
    .icon-brown {
      color: brown;
    }
    .icon-orange {
      color: orange;
    }
    .icon-green {
      color: green;
    }
    .icon-aqua {
      color: aquamarine;
    }
    .nav {
      opacity: 0;
      transition: 0.4s opacity;
      .divider {
        height: 20px;
        width: 1px;
        border-right: 1px solid #246367;
        margin: 0 16.5px;
      }
    }
    tbody:not(.row-toggler) tr:hover {
      background: #f5f9fc;
      .nav {
        opacity: 1;
      }
    }
    &.highlight-red {
      tbody:not(.row-toggler) {
        tr:hover {
          background: #fef7f7 !important;
        }
      }
    }
  } // end table

  @at-root select#{&} {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border: none;
    height: 35px;
    width: 100%;
    padding: 0 12px;
    background: #fff url(../img/ic_dropdown.svg) center right 12px no-repeat;
  }
  &.outline {
    border: 1px solid #d7dce2;
    border-radius: 2px;
    color: #aaa;
  }

  @at-root textarea#{&} {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border: none;
    width: 100%;
    padding: 0 12px;
    resize: none;
  }
  @at-root input#{&} {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border: none;
    height: 35px;
    width: 100%;
    padding: 0 12px;
    &[type="checkbox"] {
      background: #fff;
      border: 1px solid #dfdfdf;
      width: 30px;
      height: 30px;
      -webkit-appearance: checkbox;
      appearance: checkbox;
    }
    // background: #fff url(../img/ic_dropdown.svg) center right 12px no-repeat;
  }

  &-pagination {
    li {
      list-style: none;
      display: inline-block;
      width: 36px;
      height: 36px;
      font-size: 12px;
      line-height: 36px;
      text-align: center;
      color: $secondary;
      cursor: pointer;
      &:first-child,
      &:last-child {
        border-radius: 4px;
        width: 55px;
        color: black;
        border: 1px solid black;
      }
      &:last-child {
        background: black;
        color: white;
      }

      &.active,
      &:hover {
        background: $secondary;
        color: white;
      }
    }
  }

  &-btn {
    display: inline-block;
    cursor: pointer;
    min-width: 152px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.09);
    border-radius: 2px;
    height: 45px;
    border: none;
    font-size: 16px !important;
    padding: 0 30px !important;
    line-height: 45px;
    margin: 0;
    &.secondary {
      color: white;
      background: $secondary;
    }
    &.slim {
      height: 40px;
      line-height: 40px;
      font-size: 14px !important;
      min-width: 120px;
    }
    &.outline {
      background: none;
      border: 1px solid #dfdfdf;
      color: #313131;
      &.secondary {
        border-color: $secondary;
        color: $secondary;
      }
    }
  }

  &-form-group {
    label {
      font-size: 15px;
      color: #323232;
      font-weight: bold;
      letter-spacing: -0.5px;
      text-transform: uppercase;
      margin-bottom: 12px;
    }
    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: #ffffff;
      border: 1px solid #dfdfdf;
      color: #adb2b6;
      border-radius: 2px !important;
      height: 45px;
      width: 100%;
      padding: 0 10px;
      font-size: 14px;
      margin-bottom: 20px;
      background: #fff url(../img/ic_dropdown_alt.svg) center right 12px no-repeat;
    }
    textarea {
      background: #ffffff;
      border: 1px solid #dfdfdf;
      color: #adb2b6;
      border-radius: 2px !important;
      height: 105px;
      width: 100%;
      padding: 5px;
      font-size: 14px;
      margin-bottom: 20px;
      background: #fff;
      resize: none;
    }
    .btns {
      margin-top: 22px;
    }
  }

  &.border-input {
    border: 1px solid #dfdfdf;
    border-radius: 2px;
  }
}

#sidebar-overlay {
  display: none;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 100;
}
#sidebar-wrapper {
  display: none;
  z-index: 120;
  background: #282d31;
  width: 290px;
  text-align: right;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  padding-right: 20px;
  padding-top: 100px;
  h4 {
    color: #17dde9;
    font-size: 20px;
    margin-top: 40px;
  }
  li {
    list-style: none;
    margin: 20px 0;
    a {
      color: white;
      font-size: 18px;
    }
  }
}

.nowrap {
  white-space: nowrap;
}
.btn {
  &.round-icon-btn {
    width: 36px;
    height: 36px;
    background: $secondary;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 90px;
    margin-left: 15px;
    &:hover {
      background: $danger;
    }
  }
  &.back-btn {
    background: #012c61;
    border-radius: 40px;
    padding: 0 20px !important;
    line-height: 30px;
    height: 30px;
    color: white;
    font-size: 14px !important;
  }
}
.row.p-0 {
  > div {
    padding: 0;
  }
}

.nav-tabs.on-details-page {
  @extend .gradient;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin-left: -15px;
  margin-right: -15px;

  .nav-item {
    .nav-link {
      width: 160px;
      height: 50px;
      line-height: 50px;
      padding-top: 0;
      padding-bottom: 0;
      text-align: center;
      color: #fff;
      &:hover {
        border: none;
        background: rgba(255, 255, 255, 0.1);
      }
      &.active {
        color: $secondary;
        border: 0;
        background: white;
        border-bottom: 2px solid $secondary;
        border-radius: 0;
        // border-image: linear-gradient(to right, $primary, $secondary) 30;
      }
    }
  }
}

.td-underline {
  td {
    text-decoration: underline;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .category td {
    text-decoration: none;
  }
}

td img {
  cursor: pointer;
}

.toggle-header {
  background: #fff;
  padding: 20px 10px;
  .on {
    display: block;
  }
  .off {
    display: none;
  }
  &.collapsed {
    .on {
      display: none;
    }
    .off {
      display: block;
    }
  }
}

.marquee {
  height: 25px;
  color: white;

  overflow: hidden;
  position: relative;

  div {
    display: block;
    width: 200%;
    height: 30px;

    position: absolute;
    overflow: hidden;

    animation: marquee 10s linear infinite;
  }

  span {
    float: left;
    width: 50%;
  }

  @keyframes marquee {
    0% {
      left: 0;
    }
    100% {
      left: -100%;
    }
  }
}

// Detail Field –––––––––––––––––
.detail-field {
  margin-top: 5px;
  padding-left: 10px;
  > div:first-child {
    width: 30px;
  }
  img {
    width: 18px;
    height: auto;
  }
  label {
    font-size: 10px;
    text-transform: uppercase;
    margin: 0;
    color: #777;
    padding: 0 !important;
    margin: 0 !important;
  }
  textarea,
  .form-control {
    font-weight: bold;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 14px !important;
  }
  p {
    font-weight: bold;
    font-size: 14px;
  }
}
.my-input {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  .form-control {
    border-radius: 0;
    height: 50px;
    line-height: 50px;
    padding: 0;
    background: none !important;
    color: white;
    border: none;
    font-size: 16px;
    &::placeholder {
      // color: fade-out($color: #fff, $amount: 0.5);
      color: rgba(255, 255, 255, 0.5);
    }
    &:focus {
      outline: none;
      border: none;
      box-shadow: none;
    }
  }
  &.dark {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    .form-control {
      color: #333333;
      &::placeholder {
        // color: fade-out($color: #fff, $amount: 0.5);
        color: #999;
      }
    }
  }
  &.detail {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);

    .form-control {
      color: #000;
      font-size: 16px;
      &::placeholder {
        color: #999;
      }
    }
  }
}

// MODAL -––––––––––––––––––––––––––––––––––––––––––––

.modal {
  .modal-body {
    background: #f7fbfe;
  }
  .modal-content,
  .modal-body {
    padding: 0;
    label:not(.my-check) {
      text-transform: uppercase;
    }
    .my-check {
      height: 16px;
      min-width: 16px;
      padding: 0;
      margin: 0;
      padding-left: 25px;
      p {
        padding: 0;
        margin: 0;
        line-height: 16px;
      }
      span {
        height: 16px;
        width: 16px;
        &:after {
          left: 5px;
          top: 2px;
          width: 4px;
          height: 8px;
          border-width: 0 1px 1px 0;
        }
      }
    }
  }
  .modal-header {
    @extend .gradient;
    color: white;
  }
  .nav {
    background: #fff;
    padding: 0;
    .nav-item {
      border-color: black;
      flex-grow: 1;
      .nav-link {
        font-size: 12px;
        padding: 10px 0;
        border-radius: 0;
        border: 0;
        border-bottom: 4px solid #fff;
        color: #999;
        text-align: center;
        &.active,
        &:hover {
          color: $secondary;
          border-image: linear-gradient(to right, $secondary 0, $primary 100%) 30;
        }
      }
    }
  }
  .modal-title {
    text-align: center;
    width: 100%;
    font-size: 20px !important;
  }
  .close {
    color: white;
  }
  .form-group {
    border: 1px solid #ddd;
    height: 40px;
    text-align: center;
  }
  .modal-footer {
    a,
    .btn {
      margin: 0;
      padding: 0;
    }
  }
}
#tab {
  &-profile {
    a {
      text-decoration: underline;
      font-size: 12px;
    }
    h4 {
      font-size: 22px;
    }
    .subtitle {
      font-size: 20px;
      color: #7e7e7e;
    }
    .col-heading {
      border-bottom: 2px solid black;
      border-image: $gd 30;
      padding: 10px 10px;
      @extend .gradient-text;
    }
  }
  &-connect {
    img {
      width: 26px;
      height: 26px;
    }
    label {
      color: #b6b6b6;
      font-size: 18px;
    }
    .phone {
      font-size: 20px;
      color: #323232;
    }
  }
  &-contact-prefs {
    input,
    select {
      font-size: 12px;
      color: #adb2b6;
    }
    ul {
      width: 180px;
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        border-left: 4px solid transparent;
        padding: 5px 10px;
        cursor: pointer;
        &.active {
          border-left: 4px solid $secondary;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
    td a {
      color: black;
      font-size: 12px;
    }
  }
  &-facilities {
    .divider {
      width: 1px;
      background: #d7d7d7;
    }
    h3 {
      font-size: 22px;
    }
    .heading-label {
      font-size: 17px !important;
      color: $primary-dark-text;
    }
    .check-row {
      height: 40px;
      color: #323232;
      font-size: 15px;
    }
  }
  &-profile-edit {
    .btn.outline {
      border-color: black;
    }
    label {
      font-size: 12px;
      margin-top: 20px;
    }
    h2 {
      font-size: 22px;
    }
    h3 {
      font-size: 18px;
      font-weight: bold;
    }
    h3:not(:first-child) {
      margin-top: 40px;
    }
  }
}
#modal-admin-group,
#modal-add-user {
  .btn.outline {
    border-color: black;
  }
  label {
    font-size: 12px;
    margin-top: 20px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 18px;
    font-weight: bold;
  }
  h3:not(:first-child) {
    margin-top: 40px;
  }
}
.popover {
  background: #545454;
  &.bs-popover-top > .arrow::after {
    border-top-color: #545454;
  }
  &.bs-popover-right > .arrow::after {
    border-right-color: #545454;
  }
  &.bs-popover-bottom > .arrow::after {
    border-bottom-color: #545454;
  }
  &.bs-popover-left > .arrow::after {
    border-left-color: #545454;
  }
  * {
    color: white;
    font-size: 12px;
    margin: 0;
  }
  > {
    padding: 20px;
  }
}
.password-hint {
  padding: 10px 20px;
  p {
    font-weight: bold;
  }
  ul {
    list-style: none;
  }
}

#modal-settings {
  label {
    font-size: 12px;
  }
  input,
  select {
    font-size: 12px;
    color: #adb2b6;
  }
  select[multiple] {
    overflow: auto;
    height: 300px;
    width: 100%;
    border: 1px solid #d7d7d7;
    option {
      padding: 10px 15px;
    }
    color: #222;
  }
  ul {
    width: 180px;
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      border-left: 4px solid transparent;
      padding: 5px 10px;
      cursor: pointer;
      &.active {
        border-left: 4px solid $secondary;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
  td a {
    color: black;
    font-size: 12px;
  }
  #settings-subtab-4 {
    .mdsync-btn {
      padding: 0 !important;
      min-width: 120px;
      margin-left: 10px;
    }
    .danger.outline {
      color: $danger;
      border-color: $danger;
    }
  }
}
