<div class="d-flex">
  <div class="d-flex flex-grow-1 align-items-center">
    Facility
    <select class="mdsync shadow-sm mx-4">
      <option value="">Bayhealth</option>
      <option value="">Oklahoma</option>
    </select>
  </div>
  <div class="d-flex flex-grow-1 align-items-center">
    Day
    <select class="mdsync shadow-sm mx-4">
      <option value="">Tuesday, Feb 19, 2019</option>
      <option value="">Wednesday, Feb 20, 2019</option>
    </select>
  </div>
  <div class="d-flex flex-grow-1 align-items-center">
    Day
    <select onchange="window.location = this.value" class="mdsync shadow-sm ml-4">
      <option selected value="index.html">Lists</option>
      <option value="index-accordion.html">Teams</option>
      <option value="index-fav.html">Favorites</option>
    </select>
  </div>
  <div class="d-flex flex-grow-1 align-items-center justify-content-end">
    <a href="#" class="btn round-icon-btn hoverpopover" data-content="Print">
      <img src="/img/ic_print_2.svg" alt="" />
    </a>
    <a href="#" class="btn round-icon-btn hoverpopover" data-content="settings">
      <img src="/img/ic_settings.svg" alt="" />
    </a>
  </div>
</div>
