<div class="mdsync-container">
  <div class="d-flex justify-content-between align-items-center">
    <div class="bg-logo"></div>
    <img src="img/logo.png" height="50px" alt="" />
    <div class="marquee mx-20 flex-grow-1">
      <div>
        <span>Pharmacy is closed for the next hour due to staff shortage.</span>
        <span>Pharmacy is closed for the next hour due to staff shortage.</span>
      </div>
    </div>

    <ul class="nav d-flex align-items-center" id="header-nav">
      <li>
        <a href="#">Andre Goodwin</a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="#"><img src="img/ic_power.svg" alt=""/></a>
      </li>
      <li class="divider"></li>
      <li>
        <a class="sidebar-caller" href="#"><img src="img/ic_menu.svg" alt=""/></a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="#"><img src="img/ic_question.svg" alt=""/></a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="#" onclick="openSearch()"><img src="img/ic_search.svg" alt=""/></a>
      </li>
    </ul>
    <div id="search-section" class="d-none align-items-center" style="width: 30%">
      <div class="andar-wala-form d-flex justify-content-between align-items-center">
        <input type="text" placeholder="Search ...">
        <a href="#">
          <img src="img/ic_search_gray.svg" alt="">
        </a>
      </div>
      <img onclick="closeSearch()" class="ml-2" src="img/ic_close.svg" alt="">
    </div>
  </div>
</div>
<div data-include="/partials/sidenav.html"></div>
