<div class="modal fade" id="pinBoxModal" tabindex="-1" role="dialog" aria-labelledby="pinBoxModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="pinBoxModalLabel">Enter Secure Pin</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group d-flex flex-column justify-content-center align-items-center">
          <input type="text" class="w-100 form-group" placeholder="ENTER PIN HERE" />
          <a href="#" class="">Forget your pin?</a>
        </div>
      </div>
      <div class="modal-footer d-flex flex-column justify-content-center align-items-stretch">
        <a href="/secure-messaging.html" class="btn text-white gradient">Submit</a>
        <button type="button" class="btn" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
