<div class="modal fade" id="profile-modal" tabindex="-1" role="dialog" aria-labelledby="pinBoxModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">User Profile: Jesse Janes</div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <img src="/img/ic_sidebar_close.svg" alt="" />
        </button>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="#">Schedule</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Directory</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Swap/Change</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<script>
  $(function() {
    $("#autoopen").trigger("click")
  })
</script>
