<div class="modal fade" id="modal-add-user" tabindex="-1" role="dialog" aria-labelledby="pinBoxModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">Add User</div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <img src="/img/ic_sidebar_close.svg" alt="" />
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-between align-items-center m-20">
          <h2>Add New User</h2>
          <div>
            <a href="#" class="btn mdsync-btn slim outline mr-1">Cancel</a>
            <a href="#" class="btn mdsync-btn slim gradient text-white">Save</a>
          </div>
        </div>
        <div class="m-20 bg-white p-20 shadow-sm">
          <h3>Personal</h3>
          <hr />
          <div class="row">
            <div class="col-6">
              <label>First Name</label>
              <input type="text" class="mdsync outline" placeholder="fname" />
            </div>
            <div class="col-6">
              <label>Last Name</label>
              <input type="text" class="mdsync outline" placeholder="fname" />
            </div>
            <div class="col-6">
              <div class="d-flex align-items-center justify-content-between">
                <label>Password</label>
                <a
                  href="#"
                  class="password-hint-parent"
                  data-placement="top"
                  data-content="<div class='password-hint'><p>Password must contain</p><ul><li>1 letter</li><li>1 symbol</li></ul></div>"
                  data-toggle="popover"
                >
                  <img src="/img/ic_hint.svg" alt="" />
                </a>
              </div>
              <input type="password" class="mdsync outline" placeholder="asdasdasd" />
            </div>
            <div class="col-6">
              <label>Confirm Password</label>
              <input type="password" class="mdsync outline" placeholder="asdasdasd" />
            </div>

            <div class="col-6">
              <label>Employee</label>
              <input type="text" class="mdsync outline" placeholder="fname" />
            </div>
            <div class="col-6">
              <label>Acronym</label>
              <input type="text" class="mdsync outline" placeholder="fname" />
            </div>
            <div class="col-6">
              <label>Title</label>
              <input type="text" class="mdsync outline" placeholder="fname" />
            </div>
            <div class="col-6">
              <label>Speciality</label>
              <input type="text" class="mdsync outline" placeholder="fname" />
            </div>

            <div class="col-6">
              <label>Practice Name</label>
              <input type="text" class="mdsync outline" placeholder="fname" />
            </div>
          </div>
          <h3>Contact</h3>
          <hr />
          <div class="row">
            <div class="col-6">
              <label>Address</label>
              <input type="text" class="mdsync outline" placeholder="fname" />
            </div>
            <div class="col-6">
              <label>Address 02</label>
              <input type="text" class="mdsync outline" placeholder="fname" />
            </div>
            <div class="col-6">
              <label>City</label>
              <input type="text" class="mdsync outline" placeholder="fname" />
            </div>
            <div class="col-6">
              <label>State</label>
              <input type="text" class="mdsync outline" placeholder="fname" />
            </div>
            <div class="col-6">
              <label>Zip</label>
              <input type="text" class="mdsync outline" placeholder="fname" />
            </div>
            <div class="col-12">
              <label>Call Prefernces</label>
              <textarea name="" id="" cols="30" rows="3" class="mdsync outline"></textarea>
            </div>
          </div>
          <h3>Contact</h3>
          <hr />
          <div class="row">
            <div class="col-6">
              <label>Username</label>
              <input type="text" class="mdsync outline" />
            </div>
            <div class="col-6">
              <div class="d-flex justify-content-between align-items-center">
                <label>Password</label>
              </div>
              <input type="text" class="mdsync outline" />
            </div>
            <div class="col-6">
              <label>User Type</label>
              <input type="text" class="mdsync outline" />
            </div>
            <div class="col-6">
              <label>User Privilege</label>
              <input type="text" class="mdsync outline" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(function() {
    $("#autoopen").trigger("click")

    $(".tabs-clicker .nav-link").on("click", function() {
      opentab($(this).attr("href"))
    })

    $(".tabs-clicker .nav-link")
      .eq(0)
      .trigger("click")
  })

  function opentab(id) {
    var allSections = $(".modal-body section")
    var currentTargetedSection = $("section" + id)
    $(".tabs-clicker a").removeClass("active")
    $(".tabs-clicker a[href='" + id + "']").addClass("active")
    allSections.hide(0)
    currentTargetedSection.show(0)
  }

  $("#subtab-2").hide(0)
  function subtab(n) {
    $("#tab-contact-prefs li").removeClass("active")
    $("#tab-contact-prefs li")
      .eq(parseInt(n) - 1)
      .addClass("active")
    $("#subtab-1").hide(0)
    $("#subtab-2").hide(0)
    $("#subtab-" + n).show(0)
  }
</script>
