<td>
  <i class="far fa-circle icon-red"></i>
</td>
<td>Cardiology</td>
<td>All Day</td>
<td>Charles Barclays</td>
<td><img src="img/ic_notes.svg" alt="" /></td>
<td>735-817-4307</td>
<td class="text-right">
  <ul class="nav justify-content-end">
    <li>
      <img src="img/ic_fav.svg" alt="" />
    </li>
    <li class="divider"></li>
    <li>
      <img src="img/ic_edit.svg" alt="" />
    </li>
    <li class="divider"></li>

    <li>
      <img src="img/ic_delete.svg" alt="" />
    </li>
  </ul>
</td>
