<div class="mdsync-container d-flex align-items-center justify-content-between">
  <a href="#" class="d-flex sub-nav-item align-cent item-1">
    <div class="icon">
      <img src="img/ic_directory.svg" class="svg" alt="" />
    </div>
    Directory
  </a>
  <a href="#" class="d-flex sub-nav-item align-cent item-2">
    <div class="icon">
      <img src="img/ic_broadcast.svg" class="svg" alt="" />
    </div>
    Broadcast
  </a>
  <a href="#" class="d-flex sub-nav-item align-cent item-3 active">
    <div class="icon">
      <img src="img/ic_schedule.svg" alt="" class="svg" />
    </div>
    Schedule
  </a>
  <a href="#" class="d-flex sub-nav-item align-cent item-4">
    <div class="icon">
      <img src="img/ic_locker.svg" alt="" class="svg" />
    </div>
    Locker
  </a>
  <a href="#" class="d-flex sub-nav-item align-cent item-5">
    <div class="icon">
      <img src="img/ic_forum.svg" alt="" class="svg" />
    </div>
    Forum
  </a>
  <a href="#" class="d-flex sub-nav-item align-cent item-6">
    <div class="icon">
      <img src="img/ic_tracking.svg" alt="" class="svg" />
    </div>
    Tracking
  </a>
</div>
